<!DOCTYPE html>
<html lang="en">
<head>
  <title>mi.gopp</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="author" content="Michael Goppert">
  <meta name="description" content="Michael Goppert's Internet Dwelling">

  <meta property="og:title" content="mi.gopp">
  <meta property="og:description" content="Michael Goppert's Internet Dwelling">
  <meta property="og:image" content="/static/favicon.ico">
  <meta property="og:url" content="/index.html">
  <meta property="og:site_name" content="mi.gopp.dev">

  <link href="/static/style.css" rel="stylesheet">

  <link rel="icon" type="image/svg+xml" href="/static/favicon.svg">
</head>

<body>

  <h2>Michael Goppert</h2>
  <hr />
  {{CONTENT}}
  <hr />
  <p>僕の心から ©2026 Michael Goppert &lt;mi [at] gopp [dot] dev&gt;</p>
  <p>
    <a href="https://api.jolteon.me/webring/prevlink">&lt;- prev </a> |
    <a href="https://api.jolteon.me/webring/randomlink"> webring random </a> |
    <a href="https://api.jolteon.me/webring/nextlink"> next -&gt;</a>
  </p>

</body>
</html>
